baseURL = "https://nothingness0db.github.io/"
theme = "LoveIt"
defaultContentLanguage = "zh-cn"

[languages]
  [languages.zh-cn]
    weight = 1
    title = "Eira Hazel"
    languageCode = "zh-CN"
    languageName = "简体中文"
    hasCJKLanguage = true
    [[languages.zh-cn.menu.main]]
      weight = 1
      identifier = "posts"
      pre = ""
      post = ""
      name = "文章"
      url = "/posts/"
      title = ""
    [[languages.zh-cn.menu.main]]
      weight = 2
      identifier = "tags"
      pre = ""
      post = ""
      name = "标签"
      url = "/tags/"
      title = ""
    [[languages.zh-cn.menu.main]]
      weight = 3
      identifier = "categories"
      pre = ""
      post = ""
      name = "分类"
      url = "/categories/"
      title = ""

  [languages.en]
    weight = 2
    title = "Eira Hazel"
    languageCode = "en"
    languageName = "English"
    [[languages.en.menu.main]]
      weight = 1
      identifier = "posts"
      pre = ""
      post = ""
      name = "Posts"
      url = "/posts/"
      title = ""
    [[languages.en.menu.main]]
      weight = 2
      identifier = "tags"
      pre = ""
      post = ""
      name = "Tags"
      url = "/tags/"
      title = ""
    [[languages.en.menu.main]]
      weight = 3
      identifier = "categories"
      pre = ""
      post = ""
      name = "Categories"
      url = "/categories/"
      title = ""

[params]
  # 网站副标题
  [params.header]
    # 桌面端导航栏模式 ["fixed", "normal", "auto"]
    desktopMode = "fixed"
    # 移动端导航栏模式 ["fixed", "normal", "auto"]
    mobileMode = "auto"
    # 主题切换模式
    themeChangeMode = "select"
    # 页面头部导航栏标题配置
    [params.header.title]
      # LOGO 的 URL
      logo = ""
      # 标题名称
      name = "Eira Hazel"
      # 你可以在名称 (允许 HTML 格式) 之前添加其他信息, 例如图标
      pre = ""
      # 你可以在名称 (允许 HTML 格式) 之后添加其他信息, 例如图标
      post = ""
      # 是否为标题显示打字机动画
      typeit = false

  [params.home]
    rss = 10
    # 主页个人信息
    [params.home.profile]
      enable = true
      avatarURL = "images/OIP.jpg"
      imageWidth = 360
      imageHeight = 360
      subtitle = "Welcome to Eira's Blog"
      typeit = true
    
    # 主页文章列表
    [params.home.posts]
      enable = true
      paginate = 6
      defaultHiddenFromHomePage = false
  
  # 页面配置
  [params.page]
    hiddenFromHomePage = false
    hiddenFromSearch = false
    twemoji = false
    lightgallery = true
    ruby = true
    fraction = true
    fontawesome = true
    linkToMarkdown = true
    
  # 社交链接
  [params.social]
    GitHub = "https://github.com/nothingness0db"
    Twitter = "https://x.com/ADsdssd40847"
    Bilibili = "https://space.bilibili.com/495335682"
    RSS = true

  # 搜索配置
  [params.search]
    enable = true
    type = "lunr"
    contentLength = 4000
    placeholder = ""
    maxResultLength = 10
    snippetLength = 30
    highlightTag = "em"
    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""

# Hugo 解析文档的配置
[markup]
  [markup.highlight]
    noClasses = false

# 输出文件设置
[outputs]
  home = ["HTML", "RSS", "JSON"]
