baseURL = "https://nothingness0db.github.io/"

# 更改使用 Hugo 构建网站时使用的默认主题
theme = "LoveIt"

# 网站标题
title = "Eira Hazel"

# 网站语言, 仅在这里 CN 大写 ["en", "zh-CN", "fr", "pl", ...]
languageCode = "zh-CN"
# 语言名称 ["English", "简体中文", "Français", "Polski", ...]
languageName = "简体中文"
# 是否包括中日韩文字
hasCJKLanguage = true

[params]
  # 网站副标题
  subtitle = "Welcome to Eira's Blog"
  
  # 网站图标, 目录和图片资源
  [params.app]
    # 当添加到 iOS 主屏幕或者 Android 启动器时的标题, 覆盖默认标题
    title = "Eira Hazel"
    # 是否使用 SVG 图标
    noFavicon = false
    # 更新前面的图标
    svgFavicon = ""
    # Android 浏览器主题色
    themeColor = "#ffffff"
    # Safari 图标颜色
    iconColor = "#5bbad5"
    # Windows v8-10 磁贴颜色
    tileColor = "#da532c"
  
  # 社交链接
  [params.social]
    Twitter = "https://x.com/ADsdssd40847"
    Bilibili = "https://space.bilibili.com/495335682"

[params.home.profile]
  avatarURL = "images/OIP.jpg"
  # 设置头像大小为原来的 120%
  imageWidth = 360  # 默认值通常是 300px
  imageHeight = 360 # 默认值通常是 300px
  subtitle = "Welcome to Eira's Blog"
  typeit = true

# 菜单配置
[menu]
  [[menu.main]]
    weight = 1
    identifier = "posts"
    pre = ""
    post = ""
    name = "文章"
    url = "/posts/"
    title = ""
  [[menu.main]]
    weight = 2
    identifier = "tags"
    pre = ""
    post = ""
    name = "标签"
    url = "/tags/"
    title = ""
  [[menu.main]]
    weight = 3
    identifier = "categories"
    pre = ""
    post = ""
    name = "分类"
    url = "/categories/"
    title = ""

# Hugo 解析文档的配置
[markup]
  # 语法高亮设置
  [markup.highlight]
    noClasses = false
