/* 移除导航栏和社交媒体图标的下划线 */
.menu a.search-toggle,
.menu a.search-clear,
.menu a.theme-switch,
.menu a.language,
.links a {
    text-decoration: none !important;
    border-bottom: none !important;
}

/* 移动端菜单中的图标 */
#header-mobile .menu a.theme-switch,
#header-mobile .menu a.language,
#header-mobile .menu a.search-toggle,
#header-mobile .menu a.search-clear {
    text-decoration: none !important;
    border-bottom: none !important;
}